langchain-core
langgraph
fastapi
uvicorn
sse-starlette
pydantic
python-dotenv
langchain-anthropic
chromadb==1.0.8
openai
langchain-openai
langchain-google-genai
langchain-community
gunicorn
asyncio
aiosqlite
langgraph.checkpoint.sqlite
google-genai
typing-extensions
aiofiles
PyMuPDF
Pillow
python-multipart
pandas
numpy
gunicorn